.contact-container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
}

.community-container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
}

.research-container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
}

.dementia-container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
}

.outreach-container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
}

.home-container {
  background-image: url(https://storage.googleapis.com/imkkhld/demi-care/background.jfif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  min-height: 85vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
}

.home-container-height {
  background-size: 100% auto;
}

.outreach-button {
  margin: 5vw;
}

.appointment-container {
  min-height: 80vh;
  min-width: 90vw;
}

.select-language {
  position: absolute;
  right: 3vw;
  width: 30%;
}