

.grid{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: space-evenly;
}

.image{

    height:300px;
    crop:fill;
}

.name{
    color: green;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

.title{
    color:purple;
    font-size: x-large;
    font-style: inherit;
}
.flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  

}

.flex p{
    padding-right: 15px;
}

.cardDiv{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.034), 0 1px 5px rgba(0, 0, 0, 0.048), 0 1px 5px rgba(0, 0, 0, 0.06), 0 1px 5px rgba(0, 0, 0, 0.072), 0 1px 5px rgba(0, 0, 0, 0.086), 0 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 50%;
   
}

.cardDiv img {
    width: 200px;
    
}

.accounts
{
    position:absolute;
    top:150px;
    right:100px;
    list-style-type:none;
}
.accounts li
{
    top:150px;
    float:left; 
    padding-right: 75px;
}


