.contact-container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
}

.community-container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
}

.research-container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
}